<h1>THIS IS THE FLOOR PLAN INDEX</h1>

<div class="row <%= "sortable" if logged_in?(:admin) %>" >
  <% @floor_plans.each do |fp| %>
    <div class="col-md-4">
      <div class="card" data-id="<%= fp.id %>">
          <div>
            <%= link_to image_tag(fp.main_img), floor_plan_path(fp) %>
          </div>
      </div>
    </div>
  <% end%>
</div>
