<h1>Projects Index Page</h1>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-4">
      <div class="card">
        <%#= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: '100%'%>

          <div>
            <%= link_to image_tag(project.main_img), project_path(project) %>
          </div>

      </div>
    </div>
  <% end%>
</div>
