<h1>Projects Index Page</h1>

<div class="row sortable">
  <% @projects.each do |project| %>
    <div class="col-md-4">
      <div class="card" data-id="<%= project.id %>">
          <div>
            <%= link_to image_tag(project.main_img), project_path(project) %>
          </div>

      </div>
    </div>
  <% end%>
</div>
