@import "bootstrap";

@media (min-width: 48em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
}

body {
    // background: linear-gradient(to bottom right, #1cfffb, #a8ff1c);
    background-color: #fff9d1;

}
