@import "bootstrap";
@import "gritter";

@media (min-width: 48em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
}

body {
    // background: linear-gradient(to bottom right, #1cfffb, #a8ff1c);
    background-color: #fffef7;

}

.card img {
  height: 100%;
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

.jumbotron img {
  height: 100%;
  width: 100%;
}
